@use '@riff-ds/tokens' as riff;

:root {
  @include riff.primitives-css-vars;
}

body {
  margin: 0;
  font-family: var(--riff-font-family-sans);
  background: var(--riff-sage-10);
  color: var(--riff-sage-130);
}
